.App {
  text-align: center;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: hotpink;
}

a:hover {
  color:lawngreen;
}

.main-container {
  margin: 0 auto;
  margin-top: 10%;
  display: block;
  width: fit-content;
  padding: 5%;
  border: 1px solid slateblue;
  border-radius: 2%;
}

body {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.5;
}